<!--画面設計書26-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>確認画面</title>
</head>
<body>

    <header>
        <!-- ナビゲーションメニュー（メニューバー） -->
        <nav id = "menubar">
            <ul>
                <!--シャープ（#）をページのリンクに書き換える-->
                <li><a href="/fastfood/home">ホーム</a></li>
                <li><a href="/fastfood/product">メニュー</a></li>
                <li><a href="/fastfood/shop">店舗紹介</a></li>
                <li><a href="#">アレルギー情報</a></li>
                <li><a href="/fastfood/qa">お問い合わせ</a></li>
                <li><a href="/fastfood/login">ログイン</a></li>
            </ul>
        </nav>
    </header>

    <main>

    <section>
        <form method = "post" action = "/fastfood/kakutei" th:action = "@{/fastfood/kakutei}" id = "form1" >
        <table class="tai">
          <h1>メニュー</h1>
          <caption>ご注文内容の確認</caption>

            <tr th:each = "item : ${page}" th:object = "${page}">
                <!-- <img class="thumbnail" th:src = "${item.product_pic}" width="500"  height="500"> -->
                <td>
                    <img th:src = "${item.path}" width="400"  height="400">
                </td>
                <td>
                    <span th:text = "${item.product_name}" font size="7" color="#00ff00">メニュー名>
                </td>
                
                <td>
                    <span th:text = "${item.orderStr}" font size="7" color="#00ff00"></span>点
                </td>
                <td>
                    <span th:text = "${item.price} * ${item.orderStr}" font size="7" color="#00ff00">価格</span>円
                </td>
                <td>
                    <input type="hidden" name="proIds" th:value = "${item.product_id}">
                    <input type="hidden" name="bgNames" th:value = "${item.product_name}">
                    <input type="hidden" name="prices" th:value = "${item.price}" >
                    <input type="hidden" name="orderCnt" th:value = "${item.orderStr}">
                </td>
            </tr>
        </table>
    <div>
    <p style="display:inline;">合計:</p>
        <span th:text = "${sumNumber}" font size="7" color="#00ff00"></span>
    <p style="display:inline;">点</p>
        <span th:text = "${kakePrice}" font size="7" color="#00ff00"></span>
    <p style="display:inline;">円</p>
    </div>
          <!-- <span th:text = "${item.price}" font size="7" color="#00ff00">価格</span>円
            <span th:text = "${page.sumNumber}" font size="7" color="#00ff00"></span>点
            <span th:text = "${page.sumPrice}" font size="7" color="#00ff00">価格</span>円   -->
    
    </form>
    </section>

    </main>

    <button type="button" onclick="history.back()">戻る</button>

    <!--確定ボタンを押すと、注文確定画面に遷移-->
    <a href = "confirmation.html">
        <button type="submit" id = "btn" form="form1">確定</button>
    </a>

      <footer>
        <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
      </footer>
    
      
        <!--ページの上部へ戻るボタンとスクリプト-->
        <p class="pagetop"><a href="#">↑</a></p>
        <script th:src="@{/js/order.js}"></script>

</body>
</html>