<!--画面設計書27-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <title>確認画面</title>
</head>
<body>

    
<p>注文が確定しました。</p>
      <footer>
        <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
      </footer>
    
      
        <!--ページの上部へ戻るボタンとスクリプト-->
        <p class="pagetop"><a href="#">↑</a></p>
        <script th:src="@{/js/order.js}"></script>

</body>
</html>