<!--画面設計書27-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注文確定画面</title>
</head>
<body>

    <header>
        <!-- ナビゲーションメニュー（メニューバー） -->
        <nav id = "menubar">
            <ul>
                <!--シャープ（#）をページのリンクに書き換える-->
                <li><a href="/fastfood/home">ホーム</a></li>
                <li><a href="/fastfood/product">メニュー</a></li>
                <li><a href="/fastfood/shop">店舗一覧</a></li>
                <li><a href="/fastfood/allergy">アレルギー情報</a></li>
                <li><a href="/fastfood/qa">お問い合わせ</a></li>
                <li th:if="${page.login} != 1">
                    <a href="login">
                        ログイン
                    </a>
                </li>
                <li th:if="${page.login} == 1 and ${page.authority} == 0">
                    <a  href="mypage">
                        マイページ
                    </a>
                </li>
                
                <li th:if="${page.login} == 1 and ${page.authority} == 1">
                    <a  href="mypage_emp">
                        マイページ
                    </a>
                </li>
    
            </ul>
        </nav>
    
    </header>

    <h1 th:text = "${page.title}">メニュー</h1>

    <h3>注文が確定しました</h3>
    <h3>ご利用ありがとうございます</h3>

    <!--マイページに遷移-->
    <a href="マイページのURL">
        <button type="button">マイページに戻る</button>
    </a>

</body>
</html>