<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>顧客一覧</title>
</head>
<body>
   
    <h1>顧客一覧画面</h1>
 <!--
    <form action = "/customer/search" method = "post">
        <h1>顧客検索</h1>
        <input type = "text" id = "name" name = "name" th:value = "${page.hold_name}">
        <button type = "submit">検索</button>
    </form>

    <a href="/customer/addition" th:href="@{/customer/addition}">
        新規登録
    </a>
    
    <table>
        <tr th:each = "item : ${page.list}">
            <td th:text = "${item.customer_id}">ID</td>
            <td th:text = "${item.first_name}">名前</td>
            <td th:text = "${item.last_name}">名前</td>
            <td th:text = "${item.email}">メール</td>
            <td>
                <a th:href = "@{'/customer/delete/{id}'(id = ${item.customer_id})} " href = "#">
                    <!-href = "#"はページトップに飛ぶやつ、#のあとにIDを指定するとそこに飛ぶ->
                    削除
                </a>

                <a th:href = "@{'/customer/edit/{id}'(id = ${item.customer_id})} " href = "#">
                    <!-href = "#"はページトップに飛ぶやつ、#のあとにIDを指定するとそこに飛ぶ->
                    編集
                </a>

                <a th:href = "@{'/customer/detail/{id}'(id = ${item.customer_id})} " href = "#">
                    <!-href = "#"はページトップに飛ぶやつ、#のあとにIDを指定するとそこに飛ぶ->
                    詳細
                </a>
            </td>
        </tr>
    </table>
-->
</body>
</html>
