<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイン画面</title>
</head>
<body>
    <form method = "post" action = "/fastfood/login" th:object = "${page}">
        <p text = "message" th:text = "*{message}">テキスト</p>
        <input type = "text" id = "customer_id" name = "customer_id">
        <input type = "text" id = "password" name = "password">
        <button type = "submit">ログイン</button>
    </form>
</body>
</html>