<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>マイページ(顧客)</title>

    <link rel = "stylesheet" th:href = "@{/css/style.css}">
</head>

<body>
    <header>
        <!-- ナビゲーションメニュー（メニューバー） -->
        <nav>
            <ul id="menubar">
                <!--シャープ（#）をページのリンクに書き換える-->
                <li><a href="/fastfood/home">ホーム</a></li>
                <li><a href="/fastfood/product">メニュー</a></li>
                <li><a href="/fastfood/shop">店舗一覧</a></li>
                <li><a href="#">アレルギー情報</a></li>
                <li ><a href="/fastfood/qa">お問い合わせ</a></li>
                <li th:unless="${customer_id} == 0">
                    <a  href="logout">
                        ログアウト
                    </a>
                </li>

                <li th:if="${customer_id} == 0" >
                    <a href="login">
                        ログイン!!!!!!!!!!!!!
                    </a>
                </li>
            </ul>
        </nav>
    </header>
   <!-- 
        <a href="mypage"
         th:href = "@{'/fastfood/mypage/{id}'(id = ${item.customer_id})}"
         th:if="${item.login == 0}">ログイン</a>
    --

    <!-
        <a href="mypage"
         th:href = "@{'/fastfood/mypage/{id}'(id = ${item.customer_id})}"
         th:if="${item.login == 1}">ログアウト</a>
   -->

   <main>
   <h1>マイページ</h1>

    <table class="ta1">
        
        <tr th:each = "item : ${page.list}">
            <td>ID</td>
            <td th:text = "${item.customer_id}">ID</td>
        </tr>

        <tr th:each = "item : ${page.list}">
            <td>パスワード</td>
            
            <td>
                <span th:each="i : ${#numbers.sequence(1, #strings.length(item.password))}">
                    &#9679;
                </span>
            </td>

        <tr th:each = "item : ${page.list}">
            <td>氏名</td>
            <td>
            <span th:text = "${item.first_name}">first_name</span>
            <span th:text = "${item.last_name}">last_name</span>
            </td>
        </tr>

        <tr th:each = "item : ${page.list}">
            <td>電話番号</td>
            <td th:text = "${item.tell_No}">tell</td>
        </tr>

        <tr th:each = "item : ${page.list}">
            <td>メール</td>
            <td th:text = "${item.mail}">mail</td>
        </tr>
        
        <tr th:each = "item : ${page.list}">
            <td>お気に入り店舗状況&emsp;</td>
            <td th:text = "${item.shop_name}">shop</td>
        </tr>

        <tr>
            <td></td>
            <td th:text = "${page.count} <= 3 ? 'もうすぐで受け取り可能です。' : (${page.count} <= 5 ? '5分以内に受け取り可能です。' : 'もうしばらくお待ちください。')">
                countOrder
            </td>
        </tr>
        
    </table>


    <table>
        <tr th:each = "item : ${page.list}">
            <!--henkouは仮名-->
            <!--a style="display: block; width: 100%; height: 100%"
            href = "henkou.html"
            ↓ちゃんとしたURLじゃないとだめかもしれない
            th:href = "@{'/fastfood/henkou/{id}'(id = ${item.customer_id})} ">-->
            <a style="display: block; width: 100%; height: 100%" href = "edit">
            <!--th:href = "@{'/fastfood/edit/{id}'(id = ${item.customer_id})}"-->
            <!--th:hrefにloginも追加-->
                登録情報の変更
            </a>
        </tr>

        <tr  th:each = "item : ${page.list}">
            <!--chuumonは仮名-->
            <a style="display: block; width: 100%; height: 100%" href = "order">
            <!--th:href = "@{'/fastfood/order/{id}'(id = ${item.customer_id})}"-->
            <!--
                ↓ちゃんとしたURLじゃないとだめかもしれない
                th:href = "@{'/fastfood/chuumon/'} ">
            -->
                ハンバーガーの受け取り注文はこちら！！
            </a>
        </tr>

        <tr>
            <!--kakuninは仮名-->
            <a style="display: block; width: 100%; height: 100%"
            href = "kakunin.html">
            <!--
                ↓ちゃんとしたURLじゃないとだめかもしれない
                th:href = "@{'/fastfood/kakunin/{id}'(id = ${item.customer_id})}">
            -->
                注文状況確認画面
            </a>
        </tr>
    </table>

    <p text = "message" th:text = "${page.message}">テキスト</p>

</main>
</body>

<footer>
    <small>Copyright&copy; <a href="index.html">Sample Company</a> All Rights Reserved.</small>
    <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>
</html>