<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/fastfood.css}">
    <title>メニュー</title>
</head>

<body>
    <header>
        <!-- ナビゲーションメニュー（メニューバー） -->
        <nav id = "menubar">
            <ul>
                <!--シャープ（#）をページのリンクに書き換える-->
                <li><a href="/fastfood/home">ホーム</a></li>
                <li><a href="/fastfood/product">メニュー</a></li>
                <li><a href="/fastfood/shop">店舗一覧</a></li>
                <li><a href="/fastfood/allergy">アレルギー情報</a></li>
                <li><a href="/fastfood/qa">お問い合わせ</a></li>
                <li th:if="${page.login} != 1">
                    <a href="login">
                        ログイン
                    </a>
                </li>
                <li th:if="${page.login} == 1 and ${page.authority} == 0">
                    <a  href="mypage">
                        マイページ
                    </a>
                </li>
                
                <li th:if="${page.login} == 1 and ${page.authority} == 1">
                    <a  href="mypage_emp">
                        マイページ
                    </a>
                </li>
    
            </ul>
        </nav>
    
    </header>
    
    <main>
    
    <section>
    
    <h1 th:text = "${page.web_title}">メニュー</h1>
    
    <table class="ta1">
        <h2><a href="#burger">バーガー</a><a>　|　</a><a href="#drink">ドリンク</a><a>　|　</a><a href="#side">サイドメニュー</a></h2>
        <caption id="burger">バーガー</caption>

        <tr th:each = "i : ${#numbers.sequence(0, 4)}">
            <th:block th:if="${#lists.size(page.list) gt __${i}__}"></th:block>
            <td>
                <!--商品画像を押すとログインページに飛ぶ-->
                <a th:href = "login"><img th:src = "${page.list[__${i}__].product_pic}"></a></td>
                <!--<a th:href = "@{'/fastfood/login/{id}'(id = ${item.customer_id})}" href = "login">
                    <span th:src = "${item.product_pic}">商品画像</span>-->
            <td th:text = "${page.list[__${i}__].product_name}" font size="7" color="#00ff00">メニュー名</td>
            <td><span th:text = "${page.list[__${i}__].price}" font size="7" color="#00ff00">価格</span>円</td>
            <td>
            </td>
        </tr>
    </table>

    <table class="ta1">
        <caption id="drink">ドリンク</caption>

        <tr th:each = "i : ${#numbers.sequence(5, 9)}">
            <th:block th:if="${#lists.size(page.list) gt __${i}__}"></th:block>
            <td>
                <!--商品画像を押すとログインページに飛ぶ-->
                <a th:href = "login"><img th:src = "${page.list[__${i}__].product_pic}"></a></td>
                <!--<a th:href = "@{'/fastfood/login/{id}'(id = ${item.customer_id})}" href = "login">
                    <span th:src = "${item.product_pic}">商品画像</span>-->
            <td th:text = "${page.list[__${i}__].product_name}" font size="7" color="#00ff00">メニュー名</td>
            <td><span th:text = "${page.list[__${i}__].price}" font size="7" color="#00ff00">価格</span>円</td>
            <td>
            </td>
        </tr>
    </table>

    <table class="ta1">
        <caption id="side">サイドメニュー</caption>

        <tr th:each = "i : ${#numbers.sequence(10, 14)}">
            <th:block th:if="${#lists.size(page.list) gt __${i}__}"></th:block>
            <td>
                <!--商品画像を押すとログインページに飛ぶ-->
                <a th:href = "login"><img th:src = "${page.list[__${i}__].product_pic}"></a></td>
                <!--<a th:href = "@{'/fastfood/login/{id}'(id = ${item.customer_id})}" href = "login">
                    <span th:src = "${item.product_pic}">商品画像</span>-->
            <td th:text = "${page.list[__${i}__].product_name}" font size="7" color="#00ff00">メニュー名</td>
            <td><span th:text = "${page.list[__${i}__].price}" font size="7" color="#00ff00">価格</span>円</td>
            <td>
            </td>
        </tr>
    </table>
   </section>
   </main>
  <footer>
    <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
  </footer>
  
    <!--ページの上部へ戻るボタンとスクリプト-->
    <p class="pagetop"><a href="#">↑</a></p>
    <script th:src="@{/js/fastfood.js}"></script>
</body>
</html>