<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>新規会員登録</title>
</head>

<body>
    <main>
    <!-- post：入力したデータを送信  action：送信するURL（追加されたらloginページに飛ぶ）-->
    <!--
    小林さんのと合わせたときに{id}と{login}を足す必要あるかも。となるとControllerもとMapper変わる可能性アリ
    新規登録だからデータベースから引っ張ってこれない。
    -->
    <form method="post" action="/fastfood/login_emp" th:action="@{/fastfood/login_emp}" th:object="${page}">
        <!--文字幅調整とかはCSSで行う-->
        <h2 th:text ="${page.title}">新規従業員登録</h2>
        <table class="registercust_form">
            <tr>
                <th>姓</th>
                <td><input type="text" id="first_name" name="first_name" required></td>
            </tr>
            <tr>
                <th>名</th>
                <td><input type="text" id="last_name" name="last_name" required></td>
            <tr>
                <th>電話番号（ハイフン含む半角数字）</th>
                <td><input type="tel" pattern="\d{2,4}-\d{3,4}-\d{3,4}" id="tell_no" name="tell_no" required></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><input type="text" id="mail" name="mail" required></td>
            </tr>
            <!--プルダウンメニュー-->
            <tr>
                <th>所属店舗</th>
                <td><select class="shop_control" id="shop_name" name="shop_name" required>
                    <option value="">所属店舗を選択してください</option>
                    <div th:each="item:${page.list}">
                        <option th:value="${item.shop_name}" th:text="${item.shop_name}"></option>
                    </div>
                </select></td>
            </tr>

            <!--パスワード確認-->
            <tr>
                <th>パスワード</th>
                <td><input type="password" class="form_control" name="password" id="password" required></td>
            </tr>
            <tr>
                <th>パスワード（再確認）</th>
                <td><input type="password" class="form_control" name="confirm" oninput="CheckPassword(this)" required></td>
            </tr>
            <tr>
                <th><button type="submit">登録してログインページへ</button></th>
            </tr>
        </table>
    </form>
    </main>

    <!--JavaSctipt(パスワード確認)-->
    <script>
        function CheckPassword(confirm){
            // 入力値取得
            var input1 = password.value;
            var input2 = confirm.value;
            // パスワード比較
            if(input1 != input2){
                confirm.setCustomValidity("パスワードが一致しません。");
            }else{
                confirm.setCustomValidity('');
            }
        }
    </script>

<footer>
    <small>Copyright&copy; <a href="index.html">Sample Company</a> All Rights Reserved.</small>
    <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>
</body>
</html>